.job-title {
    display: inline-block;
    background: var(--primary);
    padding: 2px 4px;
    margin-top: 7px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.job-title__value {
    margin: 0;
}